<div class="timeline-container">
  <div id="home-image" class="timeline-icon-container">
    <a routerLink="/">
      <img class="timeline-icon" src="assets/images/icons/icons8-home.svg" />
    </a>
  </div>

  <div id="about-me" *ngIf="showAboutMe">
    About me it's all about me its about me !!
  </div>

  <div class="timeline-line">
    <div class="line-element">
      <div class="line-time">2013-2018</div>
      <h1 class="line-element-header">Armstrong State University</h1>
      Went to college in Savannah GA, where I got a degree in Computer Science from Armstrong State University (later consolidated with Georgia Southern)
    </div>

    <div class="line-element bottom-element">
      <div class="line-time">2015-2016</div>
      <h2 class="line-element-header"><u>Programming Competitions</u></h2>
      I did several programming competitions during my time at Armstrong, placing Third in my divison at Mercer University's ACM/IEEE competition.
    </div>

    <div class="line-element">
      <div class="line-time">2016-2018</div>
      <h2 class="line-element-header"><u>m3pi Robotics (Undergraduate Research)</u></h2>
      Also during my time at school I programmed robots for undergraduate research.
    </div>

    <div class="line-element bottom-element">
      <div class="line-time">2018-2023</div>
      <h1 class="line-element-header">OpenText</h1>
      After college, I moved to Nashville TN and got a job working for OpenText.
    </div>

    <div class="line-element">
      <div class="line-time">2018-2019</div>
      <h2 class="line-element-header"><u>TGMS + Internal Applications</u></h2>
      My first few assignments at OpenText were to work on their Trading Grid Management System, primarily by fixing bugs. I later moved on to buidling an internal application for TGMS which is still in use today.
    </div>

    <div class="line-element bottom-element">
      <div class="line-time">2019-2020</div>
      <h2 class="line-element-header"><u>Business Analytics/Machine Learning/Prototypes</u></h2>
      After seeing the work I did on TGMS, I was later moved to the Analytics team where I, and my team, began a series of prototypes and proof of concepts mostly related to Machine Learning.
    </div>

    <div class="line-element">
      <div class="line-time">2020-2023</div>
      <h1 class="line-element-header">Risk Guard (OpenText)</h1>
      One of the proof of concepts eventually turned into the product "Risk Guard," which I had a hand in developing from prototype phase up to what it is now currently.
    </div>

    <div class="line-element bottom-element">
      <h3 class="line-element-header"><u>3D Game (Pumps)</u></h3>
      I currently have a few side projects, one is a 3D platformer made with Unity called "PUMPS". Visit my dev blog here: <br /><a href="https://basedon.life" style="text-decoration: underline">www.basedon.life</a>
    </div>

    <div class="line-element">
      <h3 class="line-element-header"><u>Stable Diffusion/OpenAI</u></h3>
      I have also been playing around with Stable Diffusion (<a href="https://www.instagram.com/p/Cr1ZPYIuSdR/" style="text-decoration: underline">Instagram Post</a>) as well as OpenAI. I plan on developing a few proof of concepts in the future
    </div>

    <div class="line-element bottom-element">
      <h3 class="line-element-header"><u>Geolocation RPG</u></h3>
      [tba]
    </div>

  </div>
</div>
